.cart {
  position: relative;
  width: 300px;
  /* min-height: 200px; */
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0 0 10px 10px;
}

.title {
}
.drop {
  display: none;

  position: absolute;
  background-color: rgb(219, 226, 233);
}
.cart:active .drop {
  display: block;
}
